<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>452930889608-v0j919lrgbo3q68oh4e65h7v58k0877t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.452930889608-v0j919lrgbo3q68oh4e65h7v58k0877t</string>
	<key>API_KEY</key>
	<string>AIzaSyCXU-NQrlRvPfJD51T-9HOrA7Q22sKAo9M</string>
	<key>GCM_SENDER_ID</key>
	<string>452930889608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kimdee.YeonMuLog</string>
	<key>PROJECT_ID</key>
	<string>yeonmulog-57d34</string>
	<key>STORAGE_BUCKET</key>
	<string>yeonmulog-57d34.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:452930889608:ios:28b3dec61ff758363d7c3d</string>
</dict>
</plist>
